.button {
  position: relative;
  transition: color 0.5s 0.1s ease-out;
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 15rem;
  height: 15rem;
  background-color: #181818;
  border-radius: 50%;
  transition: transform 0.5s ease;
}

.button:hover {
  color: #fff;
}

.button:hover::before {
  transform: translate(-50%, -50%) scale(0);
}