.card {
  perspective: 1000px;
  @apply cursor-pointer;
  @apply size-[4.75rem] xmd:size-[7.125rem];
}

.card-image {
  @apply w-full h-full;
  @apply object-cover rounded-xl;
}

.card-front,
.card-back {
  @apply absolute;
  @apply flex items-center justify-center;
  @apply w-full h-full;
  @apply text-[2rem] rounded-xl;

  backface-visibility: hidden;
  transition: transform 0.6s, color 0.3s ease;
}

.card-front {
  @apply bg-base-weak;
  transform: rotateY(180deg);
}

.card-back {
  @apply bg-primary text-base-weak;
}

.card-back:hover {
  @apply bg-primary-strong;
}

.card.flipped .card-front {
  transform: rotateY(0deg);
}

.card.flipped .card-back {
  transform: rotateY(180deg);
}

.card.matched {
  @apply opacity-50;
  cursor: default;
}