.game-header {
  @apply flex flex-col justify-center items-center;
  @apply mb-6 xl:mb-10;
  @apply text-center text-xl xl:text-3xl;
}

.game-header__logo {
  @apply max-w-[90%] mb-16;
}

.game-header__title {
  @apply max-w-[19rem] mx-auto;
}