@import "tailwindcss";

@import './font/onest/stylesheet';
@import './font/bebas/stylesheet';

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #181818;
  color: #fff;
  font-family: 'Onest';
  font-weight: 400;
}

.bebas {
  font-family: 'Bebas';
  line-height: 1.125;
} 

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.fade-enter-active,
.fade-leave-active { 
  transition: opacity 0.5s ease;
}

button {
  @apply cursor-pointer;
}